{# Address book widget to use on view entity pages #}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set addressListUrl = path('candm_api_get_class_entity_addresses', {'className': entity.className, 'addressesEntityId': entity.id}) %}
{% set addressCreateUrl = path('candm_address_create', {'className': entity.className, 'addressesEntityId': entity.id}) %}
{% set addressUpdateRoute = 'candm_address_update' %}
{% set addressDeleteRoute = 'candm_api_delete_class_entity_address' %}
{% set ownerParam = 'addressesEntityId' %}

{% set addressBookOptions = {
    module: 'oroaddress/js/app/components/address-book-widget-component',
    options: {
        wid: app.request.get('_wid'),
        addresses: render(addressListUrl),
        addressListUrl: addressListUrl,
        addressCreateUrl: addressCreateUrl,
        addressUpdateRoute: {
            route: addressUpdateRoute,
            params: {
                className: entity.className|json_encode|raw,
                (ownerParam):  entity.id
            }
        },
        addressDeleteRoute: {
            route: addressDeleteRoute,
            params: {
                className: entity.className|json_encode|raw,
                (ownerParam):  entity.id
            }
        },
    }
} %}

<div class="widget-content" {{ UI.renderPageComponentAttributes(addressBookOptions) }}>
    {# JS template for address view #}
    {% include "ClickAndMortarGenericAddressBundle:Js:address.js.twig" %}

    {# widget container and actions #}
    <div class="widget-actions">
        {% if address_edit_acl_resource is not defined or is_granted(address_edit_acl_resource) %}
            <button class="btn btn-primary" data-action-name="add_address"> + {{ 'Add Address'|trans }}</button>
        {% endif %}
    </div>
    <div class="map-box" id="address-book"></div>
</div>